{% load staticfiles %}
{% include 'serveur/includes/header.html' %}
{% include 'serveur/includes/navigation.html' %}

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="logo"> "Essayez, vous allez adorer." <p>
			<div id="object" class="slideDown">
			<img src="../../static/serveur/img/logo.jpg" alt="bannière du site" />
			</div>
		<div class="logo"> Avec Search&Find l'Y-commerce vient de passer de l'ère de la recherche à celle du choix.</p>
	</div>
</div>

{% include 'serveur/includes/footer.html' %}