body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	background-color: #eeeeee;
}

[class*="col-"] {
	padding-top: 15px;
	padding-bottom: 15px;
}

#logo {
	text-align: center;
	margin-bottom: 25px;
}

h1 {
	

}

h2 {
	padding-left : 30px;

}

<<<<<<< HEAD
.logo {
	padding: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 110%;
}

.bann{
	background-color: black;
}
=======


/**
 * Extra large button extensions. Extends `.btn`.
 */
.btn-xlarge {
    padding: 150px 130px;
    font-size: 40px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 50px;
    }



.cat {
	font-size: 80px;
	border-radius: 50px;
}
	


/**
 * Example base
 */
body {
    
    }




/**
 * Extra large button extensions. Extends `.btn`.
 */
.btn-xlarge2 {
    padding: 150px 60px;
    font-size: 40px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 50px;
    }


Ma
